* {
    box-sizing: border-box;
}

body,
html {
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    margin: 0;
}

nav {
    background-color: black;
    padding: 20px;
    margin-bottom: 50px;
}

ul {
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
}

li {
    color: #FFF;
    display: inline;
    line-height: 32px;
    padding: 20px;
    text-transform: uppercase;
}

section {
    height: 100%;
    margin-top: 100px;
    padding: 20px;
    width: 100%;
}

.cube {
    margin: auto;
    width: 300px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s ease-out;
    transform: rotateX(-10deg) rotateY(-35deg);
}

.face {
    background-color: #000;
    opacity: 0.8;
    border: 5px solid #FFF;
    color: #FFF;
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 5px;
    position: absolute;
    width: 300px;
}

.face.front {
    transform: translateZ(150px);
}

.face.back {
    transform: translateZ(-150px) rotateX(180deg);
}

.face.top {
    transform: rotateX(90deg) translateZ(150px);
}

.face.bottom {
    transform: rotateX(-90deg) translateZ(150px);
}

.face.right {
    transform: rotateY(90deg) translateZ(150px);
}

.face.left {
    transform: rotateY(-90deg) translateZ(150px);
}


/* cube transforms */
.cube.front {
    transform: rotateY(0);
}

.cube.back {
    transform: rotateX(180deg);
}

.cube.left {
    transform: rotateY(90deg);
}

.cube.right {
    transform: rotateY(-90deg);
}

.cube.top {
    transform: rotateX(-90deg);
}

.cube.bottom {
    transform: rotateX(90deg);
}

@media screen and (max-width: 480px) {
    .cube {
        height: 200px;
        width: 200px;
    }

    .face {
        height: 200px;
        width: 200px;
    }

    /* cube transforms */
    .face.front {
        transform: translateZ(100px);
    }

    .face.back {
        transform: rotateX(180deg) translateZ(100px);
    }

    .face.top {
        transform: rotateX(90deg) translateZ(100px);
    }

    .face.bottom {
        transform: rotateX(-90deg) translateZ(100px);
    }

    .face.right {
        transform: rotateY(90deg) translateZ(100px);
    }

    .face.left {
        transform: rotateY(-90deg) translateZ(100px);
    }
}